.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $l-grey;
  overflow-y: auto;
  z-index: 1;

  @media screen and (min-width: $break-point-terminal) {
    left: $size-terminal-pane;
    width: $size-content-pane;
  }
}
