.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $size-bottom-pane-small;
  background: $d-grey;
  z-index: 2;

  @media screen and (min-width: $break-point-med-nav) {
    height: $size-bottom-pane;
  }

  @media screen and (min-width: $break-point-terminal) {
    top: 0;
    left: 0;
    width: $size-terminal-pane-small;
    height: 100%;
    overflow-y: scroll;
  }

  @media screen and (min-width: $break-point-terminal-large) {
    width: $size-terminal-pane;
  }

  .navs-container {
    height: 100%;

    .launcher-container {
      display: none;
      position: absolute;
      bottom: 0;
      height: 60px;
      width: 60px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      background: none;
      cursor: pointer;
      user-select: none;
      z-index: 3;

      @media screen and (min-width: $break-point-terminal) {
        display: block;
      }

      .launcher-icon {
        bottom: 15px;
        height: 100%;
        width: 100%;
        border-radius: 3px;
        background: $black;

        .menu-bar {
          height: 12px;
          width: 100%;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          background: $grey;
        }

        .greater {
          margin-left: 4px;
          font-family: $font-family-monospace;
          font-weight: 700;
          font-size: 1.5rem;
          color: $l-grey;
        }
      }

      .launcher-enter {
        bottom: -100px;
        opacity: 0.5;
        transition: bottom 600ms, opacity 600ms;

        &.launcher-enter-active {
          bottom: 15px;
          opacity: 1;
        }
      }

      .launcher-leave {
        bottom: 15px;
        opacity: 1;
        transition: bottom 600ms, opacity 600ms;

        &.launcher-leave-active {
          bottom: -100px;
          opacity: 0.5;
        }
      }

      .launcher-appear {
        bottom: -100px;
        opacity: 0.5;
        transition: bottom 600ms, opacity 600ms;

        &.launcher-appear-active {
          bottom: 15px;
          opacity: 1;
        }
      }
    }
  }
}
