.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $size-bottom-pane;
  background: $black;
  z-index: 2;

  @media screen and (min-width: $break-point-terminal) {
    top: 0;
    left: 0;
    width: $size-terminal-pane;
    height: 100%;
    overflow-y: scroll;
  }
}
