.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $size-bottom-pane-small;
  background: $d-grey;
  z-index: 2;

  @media screen and (min-width: $break-point-med-nav) {
    height: $size-bottom-pane;
  }

  @media screen and (min-width: $break-point-terminal) {
    top: 0;
    left: 0;
    width: $size-terminal-pane-small;
    height: 100%;
    overflow-y: scroll;
  }

  @media screen and (min-width: $break-point-terminal-large) {
    width: $size-terminal-pane;
  }

  .nav-container {
    height: 100%;

    .terminal-container {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 2;

      .terminal-enter {
        top: 95%;
        left: 47.5%;
        opacity: 0.1;
        height: 5%;
        width: 5%;
        transition:
          top 750ms,
          left 750ms,
          opacity 750ms,
          height 750ms,
          width 750ms;

        &.terminal-enter-active {
          top: 0;
          left: 0;
          opacity: 1;
          height: 100%;
          width: 100%;
        }
      }

      .terminal-leave {
        top: 0;
        left: 0;
        opacity: 1;
        height: 100%;
        width: 100%;
        transition:
          top 750ms,
          left 750ms,
          opacity 750ms,
          height 750ms,
          width 750ms;

        &.terminal-leave-active {
          top: 95%;
          left: 47.5%;
          opacity: 0.1;
          height: 5%;
          width: 5%;
        }
      }

      .terminal-appear {
        top: 95%;
        left: 47.5%;
        opacity: 0.1;
        height: 5%;
        width: 5%;
        transition:
          top 750ms,
          left 750ms,
          opacity 750ms,
          height 750ms,
          width 750ms;

        &.terminal-appear-active {
          top: 0;
          left: 0;
          opacity: 1;
          height: 100%;
          width: 100%;
        }
      }
    }

    .launcher-container {
      position: absolute;
      bottom: 0;
      height: 60px;
      width: 60px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      background: none;
      cursor: pointer;
      z-index: 10;

      .launcher-icon {
        bottom: 15px;
        height: 100%;
        width: 100%;
        border-radius: 3px;
        background: $black;

        .menu-bar {
          height: 12px;
          width: 100%;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          background: $grey;
        }

        .greater {
          margin-left: 4px;
          font-family: $font-family-monospace;
          font-weight: 700;
          font-size: 1.5rem;
          color: $l-grey;
        }
      }

      .launcher-enter {
        bottom: -100px;
        opacity: 0.5;
        transition: bottom 750ms, opacity 750ms;

        &.launcher-enter-active {
          bottom: 15px;
          opacity: 1;
        }
      }

      .launcher-leave {
        bottom: 15px;
        opacity: 1;
        transition: bottom 750ms, opacity 750ms;

        &.launcher-leave-active {
          bottom: -100px;
          opacity: 0.5;
        }
      }

      .launcher-appear {
        bottom: -100px;
        opacity: 0.5;
        transition: bottom 750ms, opacity 750ms;

        &.launcher-appear-active {
          bottom: 15px;
          opacity: 1;
        }
      }
    }
  }
}
