.simple-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  &.nav-top {
    z-index: 2;
  }

  .simple-enter {
    opacity: 0;
    transition: opacity 600ms;

    &.simple-enter-active {
      opacity: 1;
    }
  }

  .simple-leave {
    opacity: 1;
    transition: opacity 600ms;

    &.simple-leave-active {
      opacity: 0.25;
    }
  }

  .simple-appear {
    opacity: 0;
    transition: opacity 600ms;

    &.simple-appear-active {
      opacity: 1;
    }
  }
}

.simple-nav {
  z-index: 1;

  @media screen and (min-width: $break-point-terminal) {
    padding: 15%;
  }

  ul.outer {
    list-style: none;
    text-align: center;

    @media screen and (min-width: $break-point-terminal) {
      text-align: left;
    }

    li {
      @extend .h5;
      list-style: none;
      display: inline-block;
      margin: 0 4%;
      color: $white;
      text-transform: uppercase;

      @media screen and (min-width: $break-point-med-nav) {
        @extend .h4;
        margin: 0 8%;
      }

      @media screen and (min-width: $break-point-terminal) {
        width: 100%;
        margin: 0 0 4rem 0;
      }

      a {
        font-weight: 300;
        line-height: $size-bottom-pane-small;
        letter-spacing: 0.1rem;

        @media screen and (min-width: $break-point-med-nav) {
          line-height: $size-bottom-pane;
          letter-spacing: 0.25rem;
        }

        @media screen and (min-width: $break-point-terminal) {
          font-weight: 500;
          line-height: 1;
        }
      }

      ul.inner {
        display: none;
        list-style: circle inside;

        @media screen and (min-width: $break-point-terminal) {
          display: block;
          margin: 0.75rem 0 0 0;
          text-align: left;
        }

        li {
          @extend .h5;
          display: list-item;
          list-style: circle inside;
          margin: 0 0 0.75rem 0;
          font-weight: 300;
          color: $l-grey;
          text-transform: none;
          opacity: 0.75;

          transition: opacity 0.1s;

          &:hover {
            opacity: 1;
          }

          a {
            font-weight: 300;
            letter-spacing: 0;
            line-height: 1;
          }
        }
      }
    }
  }
}
