// Colors
$primary: #4271AE;
$accent: #718C00;

$white: #FFFFFF;
$l-grey: #E6E7E8;
$m-grey: #9EA1A6;
$grey: #6D737A;
$d-grey: #3D444E;
$black: #0D1622;

// Font Size
$base-font-size: 16px;
$base-font-color: $black;
$base-font-weight: 400;
