// Colors
$primary: #4271AE;
$accent: #718C00;

$white: #FFFFFF;
$l-grey: #E6E7E8;
$m-grey: #9EA1A6;
$grey: #6D737A;
$d-grey: #3D444E;
$black: #0D1622;

// Font Size
$font-family: "Source Sans Pro", "Roboto", "Helvetica", "Arial", sans-serif;
$font-family-title: "Merriweather", serif;
$font-family-monospace: "Source Code Pro", monospace;
$base-font-size: 16px;
$base-font-color: $black;
$base-font-weight: normal;

// Sizes
$size-terminal-pane: 35%;
$size-content-pane: 65%;
$size-bottom-pane: 80px;

// Break Points
$break-point-terminal: 1025px;
