.page--blurb {
  max-width: 920px;
  margin: 0 auto;
  padding: 4% 8% 0;

  h2 {
    margin-top: 12px;
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 8px;
    margin-bottom: 12px;
  }

  p {
    margin-top: 2px;
    margin-bottom: 8px;
  }

  pre {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    background: $black;
    max-height: 400px;
    overflow-y: auto;

    code {
      color: $m-grey;
    }
  }
}
